html {
  height: 100%;
  width: 100%;
}

li a {
  display: block;
  color: white;
  font-size: 40px;
  padding: 14px 16px;
  text-decoration: none;
}

li {
  text-align: center;
}

li a:hover:not(.active) {
  background-color: #111;
}